    @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
    * {
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
        color: #212121;
        margin: 0;
        padding: 0;
    }
    
    .main-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 32px;
        height: 100px;
    }
    
    .main-header a {
        text-decoration: none;
    }
    
    .home-link {
        text-align: left;
        font-weight: 900;
        letter-spacing: 3px;
    }
    
    .nav-link {
        display: flex;
    }
    
    .nav-link a {
        padding: 1rem;
        font-weight: 100;
        color: #212121;
        display: block;
    }
    
    .nav-link a:hover {
        color: #594CF9;
    }
    
    .content-section {
        margin: 1em;
    }
    
    .container {
        max-width: 900px;
        margin: 0 auto;
    }
    
    .intro-headline {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* margin: 20px 0; */
    }
    
    .headline-text {
        font-weight: 500;
        font-size: 40px;
        text-align: left;
        line-height: 74px;
        letter-spacing: 0.2em;
        padding: 80px 40px 0 32px;
        max-width: 45%;
    }
    
    #text1 {
        color: #2B1F65;
    }
    
    #text1::after {
        content: "\a";
        white-space: pre;
    }
    
    #text2 {
        color: #2B1F65;
    }
    
    #text3 {
        color: #594CF9;
        font-style: italic;
        padding: 0 0 0 10px;
    }
    
    .headline-img {
        align-items: right;
        max-width: 45%;
        /* height: 500px; */
        /* if height: 500px do not need in desktop or mobile screen, it can be deleted */
        margin: 20px;
    }
    
    .headline-img>img {
        width: 100%;
        /* border-radius: 90%; */
        /* it is optional to make your portrait round in mobile screen. */
    }
    
    @media all and (max-width: 560px) {
        .headline-img {
            max-width: 100%;
        }
        .headline-text {
            padding: 0px 40px 0 32px;
            max-width: 100%;
            /* when screen width smaller than 560px, .headline-text will expend to all width */
        }
        .headline-img>img {
            width: 100%;
            border-radius: 90%;
            /* it is optional to make your portrait round in mobile screen */
        }
    }
    
    .intro-body {
        margin: 20px auto;
        max-width: 960px;
        padding: 0 32px;
    }
    
    .intro-body>p {
        padding-bottom: 30px;
    }
    
    .break-line {
        border: 1px solid #C4C4C4;
        display: block;
        max-width: 58%;
        margin: 70px auto;
    }
    
    @media all and (max-width: 560px) {
        .break-line {
            max-width: 86%;
            margin: 46px auto;
        }
    }
    
    .experience {
        margin: 20px auto;
        max-width: 960px;
        padding: 0 32px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .education {
        margin: 35px auto 20px auto;
        max-width: 960px;
        padding: 0 32px;
        display: flex;
    }
    
    .download {
        margin: 20px auto 50px auto;
        max-width: 750px;
        padding-left: 225px;
        display: inline-flex;
    }
    
    @media all and (max-width: 560px) {
        .download {
            padding-left: 30px;
        }
    }
    
    .text-btn {
        font-weight: 900;
        color: #594CF9;
        padding: 10px 0 0 10px;
    }
    
    .download-icon {
        width: 40px;
    }
    
    .record-title h2 {
        width: 150px;
    }
    
    .record-list ul {
        padding: 0 0 0 50px;
        list-style-type: none;
    }
    
    .record-list li {
        padding-bottom: 5px;
    }
    
    @media all and (max-width: 560px) {
        .experience,
        .education {
            flex-wrap: wrap;
        }
        .record-list ul {
            padding: 10px 0 0 0;
            list-style-type: none;
        }
    }
    
    .main-footer {
        height: 200px;
        padding: 40px 32px;
        background-color: #102535;
    }
    
    .footer-title {
        text-align: left;
        font-weight: 300;
        font-size: 30px;
        letter-spacing: 0.1em;
        color: #AAA2FD;
        padding: 20px 0 10px 0;
    }
    
    .foot-links {
        align-items: center;
        padding: 10px 0 20px 0;
    }
    
    .footer li {
        display: inline;
    }
    
    .footer a {
        text-decoration: none;
        color: white;
        padding: 0 30px 0 0;
    }
    
    .footer a:hover {
        font-weight: bolder;
    }
    
    .motto {
        padding: 150px 32px 20px 32px;
        height: 400px;
    }
    
    .motto-text {
        margin: 0 0 5px 0;
        font-size: 48px;
        letter-spacing: 0.1em;
    }
    
    #motto12 {
        color: #AAA2FD;
    }
    
    #motto22 {
        color: #594CF9;
    }
    
    @media all and (max-width: 560px) {
        #motto12,
        #motto22 {
            font-size: 24px;
        }
        .motto-text {
            font-size: 24px;
        }
        .motto {
            padding: 30px 32px 30px 32px;
            height: auto;
        }
        /* remove height: 400pt, and reduce padding-top to 30px, add padding-bottom to 10px */
    }
    
    .work-flex {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .work-flex>.cards {
        max-width: 45%;
        transition: width 0.7s ease-out;
    }
    
    @media all and (max-width: 560px) {
        .work-flex>li {
            max-width: 100%;
        }
    }
    
    .card_image {
        overflow: hidden;
    }
    
    .work-flex img {
        /* position: relative; */
        max-width: 100%;
        transition: transform 0.5s;
    }
    
    .work-flex img:hover {
        transform: scale(1.2);
        opacity: 0.5;
    }
    
    .card_title {
        margin: 10px 0 5px 0;
    }
    
    .card_title p {
        font-size: 16px;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .card_description {
        margin: 0 0 20px 0;
    }
    
    .card_description p {
        font-size: 16px;
        font-weight: 100;
    }